<h1 *ngIf="users == null">
    Não há usuarios
</h1>

<div *ngIf="addMode">
    <form [formGroup]="formUser" (ngSubmit)="saveUser(formUser)">

        <div class="card_add_user">
            <h1 style="text-align: center; padding-bottom: 10%;" *ngIf="!editUser">Adicione um usuário</h1>
            <h1 style="text-align: center; padding-bottom: 10%;" *ngIf="editUser">Edite o usuário</h1>
            <input class="input_user" *ngIf="!editUser" type="text" formControlName="ra" placeholder="Entre com o RA"
                maxlength="6">
            <input class="input_user" type="text" formControlName="fullName" placeholder="Entre com o Nome"
                maxlength="50">
            <input class="input_user" type="text" formControlName="password" placeholder="Entre com a Senha"
                maxlength="30">
            <select class="select_acessibilidade" formControlName="access">
                <option value="5" disabled>Tipo de Usuario</option>
                <option *ngIf="editUser" value="0">Desabilitado</option>
                <option value="2">Coordenador do Curso</option>
                <option value="3">Professor de Projetos</option>
                <option value="4">Professor Avaliador</option>
            </select>

            <button class="btn_validar" *ngIf="!editUser" type="submit" [disabled]="!formUser.valid">Adicionar</button>
            <button class="btn_validar" *ngIf="editUser" type="submit"
                (click)="editUser=false; sendEditUser(formUser); changeToAddMode()"
                [disabled]="!formUser.valid">Salvar</button>


        </div>


        <div class="btn_flutuante">
            <button class="btn_validar" (click)="changeToAddMode(); editUser = false"> <i class="fas fa-reply"></i>
            </button>
        </div>
        <br><br>
    </form>
    <br><br>
</div>

<div *ngIf="!addMode">
    <h1 style="text-align: center; padding-bottom: 5%;">Usuários</h1>
    <ul class="users_list">
        <li *ngFor="let user of users">
            <button class="btn_users">{{ user.ra }} - {{ user.fullName }} - {{ accessType(user.access) }}</button>
            <button class="edit_user" *ngIf="user.access!=1" type="button" (click)="editUserOpen(user)"><i
                    class="fas fa-user-edit"></i></button>
        </li>

    </ul>
</div>

<div class="col-md-12 plus_btn" style="padding-top: 50px; text-align: center;">
    <button class="add_user" (click)="changeToAddMode()">
        <i class="fas fa-user-plus"></i>
    </button>
</div>



<br>

<div class="btn_flutuante" *ngIf="!editUser">
    <button class="btn_voltar" routerLink="" (click)="clearLocal()">
        <i class="fas fa-door-open"></i>
    </button>
</div>

<!--Link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<!--font awesome-->