<h1 *ngIf="users == null">
    Não há usuarios
</h1>

<div *ngIf="addMode">
    <form [formGroup]="formUser" (ngSubmit)="saveUser(formUser)">

        <input *ngIf="!editUser" type="text" formControlName="ra" placeholder="Entre com o RA" maxlength="6">
        <input type="text" formControlName="fullName" placeholder="Entre com o Nome" maxlength="50">
        <input type="text" formControlName="password" placeholder="Entre com a Senha" maxlength="30">
        <select formControlName="access">
            <option value="5" disabled>Tipo de Usuario</option>
            <option *ngIf="editUser" value="0">Desabilitado</option>
            <option value="2">Coordenador do Curso</option>
            <option value="3">Professor de Projetos</option>
            <option value="4">Professor Avaliador</option>
        </select>

        <button *ngIf="!editUser" type="submit" [disabled]="!formUser.valid">Adicionar</button>
        <button *ngIf="editUser" type="submit" (click)="editUser=false; sendEditUser(formUser); changeToAddMode()"
            [disabled]="!formUser.valid">Salvar</button>
        <button (click)="changeToAddMode(); editUser = false">Voltar para Usuarios</button>
        <br><br>
    </form>
    <br><br>
</div>

<div *ngIf="!addMode">
    <h1 style="text-align: center; padding-bottom: 5%;">Usuários</h1>
    <ul class="users_list">
        <li *ngFor="let user of users">
            <button>{{ user.ra }} - {{ user.fullName }} - {{ user.access }}</button>
            <button class="edit_user" *ngIf="user.access!=1" type="button" (click)="editUserOpen(user)"><i
                    class="fas fa-user-edit"></i></button>
        </li>

    </ul>
</div>

<div class="col-md-12 plus_btn" style="padding-top: 50px; text-align: center;">
    <button class="add_user" (click)="changeToAddMode()">
        <i class="fas fa-user-plus"></i>
    </button>
</div>

<br>

<div class="btn_flutuante">
    <button class="btn_voltar" routerLink="" (click)="clearLocal()">
    </button>
</div>

<!--Link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<!--font awesome-->