<div *ngIf="false">
    <form [formGroup]="formUser" (ngSubmit)="saveUser()">

        <input type="text" formControlName="ra" placeholder="Entre com o RA" maxlength="6">
        <input type="text" formControlName="fullname" placeholder="Entre com o Nome" maxlength="50">
        <input type="text" formControlName="password" placeholder="Entre com a Senha" maxlength="30">
        <select formControlName="access">
            <option value="1">Coordenção da Escola</option> 
            <option value="2">Coordenador do Curso</option>
            <option value="3">Professor de Projetos</option>
            <option value="4">Professor Avaliador</option>
        </select>

        <button>Entrar</button>
        <br><br>
    </form>
    <br><br>
</div>


<ul>
    <li>Nome:</li>
    <li *ngFor="let user of users">{{ user[0] }} - {{ user[1] }} - {{ user[3] }}   
        <button (click)="removeUser(user)">Remover</button>
    </li>
</ul>
