<ul *ngIf="!inputMode">
    <li *ngFor="let c of criteria">Nome: {{ c.nameMedium }}  <br> Descrição: {{ c.description }} <br> Valor:{{ c.totalValue }}
        <br>
        <button (click)="updateForm(c)">Editar</button>
        <button (click)="removeCriterion(c)">Remove</button>
        <br><br>
    </li>
</ul>
<button *ngIf="!inputMode" (click)="inputMode = true; addBigCriterion()">
    Adicionar Critério
</button>
<form *ngIf="inputMode" [formGroup]="formAddCriterion">
    <input type="text" formControlName="idBig" placeholder="idBig" [(ngModel)]="idBig">
    <input type="text" formControlName="nameMedium" placeholder="Nome do Critério">
    <input type="text" formControlName="ra"  maxlength="6" [(ngModel)]="currentUser" placeholder="Ra">
    <!-- <input type="text" formControlName="description" placeholder="Descrição"> -->
    <textarea formControlName="description" cols="33" rows="5" placeholder="Descrição">
    </textarea>
    <input type="number" formControlName="totalValue" placeholder="Valor Total">

    <button *ngIf="!editMode" type="submit" (click)="addCriteria(formAddCriterion)" [disabled]="!formAddCriterion.valid">
        Adicionar Critério
    </button>
    <button *ngIf="editMode" type="submit" (click)="updateCriterion(formAddCriterion)" [disabled]="!formAddCriterion.valid">
        Salvar
    </button>
    <button (click)="inputMode=false; editMode = false">
        Voltar para Critérios
    </button>
</form>
<button *ngIf="!inputMode" routerLink="">
    Sair
</button>

