<img src="../../../assets/Gepeto.png" height="60">

<div>
    <h2>Bem Vindo</h2>
    <form [formGroup]="formLogin" (ngSubmit)="sendLogin(formLogin)">

        <input type="text" pattern="\d*" formControlName="ra" placeholder="Entre com seu RA" maxlength="6" [(ngModel)]="currentUser">

        <input type="password" formControlName="password" placeholder="Entre com sua senha" maxlength="30">

        <button type="submit" [disabled]="!formLogin.valid" >Entrar</button>
        <br><br>
    </form>
    <br><br>
</div>