@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@1&family=Sansita:ital,wght@1,800&family=Ubuntu+Mono:ital,wght@0,400;1,700&display=swap');

.container {
    width: 100%;
    height: 100%;
}

.container .blue {
    background-color: linear-gradient(180deg, rgba(50, 178, 196, 0.921875) 0%, rgba(33, 114, 236, 0.8) 52.6%, #0028B7 95.83%);
    width: 40.625%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .blue img {
    width: 256px;
    height: 256px;
    box-shadow: 4px 8px 2px rgba(0, 0, 0, 0.4);
}

.container .blue .line {
    width: 62%;
    display: flex;
    align-content: space-between;
}

.container .blue .line .user {
    width: 100%;
    order: 0;
}

.container .blue .line .password {
    width: 71.875%;
    order: 1;
}

.container .blue .line .button {
    width: 25%;
    order: 2;
}

.container .blue .line h5 {
    font-family: 'Sanchez', serif;
    font-size: 24px;
    text-align: justify;
    color: #FFFFFFFF;
}

.rectangles {
    background-color: #D0F0FBFF;
    height: 50px;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25), inset 4px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.rectangles .input {
    color: #000000FF;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
}

.rectangles .input ::placeholder {
    color: #0000005C;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
}

.rectangles .button {
    background-color: #6CFC8CFF;
}

.rectangles .button img {
    width: 40px;
    height: 40px;
}

.container .white {
    width: 59.375%;
    height: 100%;
    background-color: #FFFFFFFF;
}

.circle-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-area .text {
    font-family: 'Sansita', sans-serif;
}

.circle-area .text .blue {
    color: #38D9FDFF;
}

.circle-area .text .yellow {
    color: #FFD912FF;
}

.circle-area .text .green {
    color:  #6CFC8CFF;
}

.circle-area .circle {
    width: 200px;
}

.circle-area .circles {
    width: 180px;
    height: 180px;
    border-radius: 90;
}

.circle-area .circles .yellow {
    background-color: #FFD912FF;
}

.circle-area .circles .yellow img {
    width: 240px;
}

.circle-area .circles .green {
    background-color:  #6CFC8CFF;
}

.circle-area .circles .green img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
}

/*
 * font-family: 'Sanchez', serif;
 * font-family: 'Sansita', sans-serif;
 * font-family: 'Ubuntu Mono', monospace;
 */