.txt_slogan{
    text-align: center;
}

.add_grupo{
    
        background: #a4b3e7; /*cor do fundo do ícone*/
        color: #060d72; /*cor do icone*/
        border: 0;
        border-radius:0.25rem 0 0 0.25rem;
    
}


.btn_grupo{
    text-align: center;
    background: #1E90FF			;
    border:0;
    border-radius:10px;
    width:60%;
    height:35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 18px;
}

.card_add_gp{

    height:380px;
    width:350px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    margin-top: 100px;
    background:#6495ED	;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 18px;
}

.input_edit_txt{
  background: lightblue;
  border:0;
  border-radius:5px;
  width:80%;
  height:35px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;

}

.input_txt{
    background: lightblue;
    border:0;
    border-radius:5px;
    width:80%;
    height:35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn_validar_edit{
  margin-top:  5px;
  margin-bottom: 3px;
  margin-left: 80px;
  margin-right: auto;
  background: #1E90FF			;
  border:0;
  border-radius:10px;
  width:50%;
  height:35px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


.btn_validar{
    margin-top:  5px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    background: #1E90FF			;
    border:0;
    border-radius:10px;
    width:50%;
    height:35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.btn_flutuante{
    position: fixed;
    bottom:10px;
    right:10px;
  }
  
  .btn_flutuante button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #cb60b3;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .btn_flutuante button:focus{
    outline: none;
  }
  
  .btn_flutuante button.btn_voltar{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #1E90FF    ;
    right: 0;
    bottom: 0;
    z-index: 20;
  }

.tittle_grupo{
    margin-top:  5px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    background: #4169E1				;
    border:0;
    border-radius:5px;
    width:50%;
    height:35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;

}

.grupos_lista{
    list-style: none;
    align-self: center;
}

.card_listas{

    height:380px;
    width:100% ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    margin-top: 100px;
    background:#6495ED	;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 18px;
}

.remove_btn{
  background: #a4b3e7; /*cor do fundo do ícone*/
  color: #060d72; /*cor do icone*/
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  width:50px;
  height:40px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 18px;
}

.edit_btn{
  background: #a4b3e7; /*cor do fundo do ícone*/
  color: #060d72; /*cor do icone*/
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  width:50px;
  height:40px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 18px;
}

.btn_salas{
    background: #6495ED	;
    border:0;
    border-radius:5px;
    width:40%;
    height:60px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 18px;
}

.add_grupo{
    background: #a4b3e7; /*cor do fundo do ícone*/
    color: #060d72; /*cor do icone*/
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    width:50px;
    height:40px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 18px;
}













  
  
  /*.btn_flutuante button.btn_voltar:before{
    content: '      ⎗    ';
  }*/

