<h1 *ngIf="groups == null || groups.length == 0">
    Não há grupos ainda nesta sala
</h1>
<ul *ngIf="!inputMode">
    <li *ngFor="let group of groups">
        <button routerLink="/groups">{{ group.groupTheme }} - {{ group.description }}</button> |
        <button (click)="removeGroup(group)"> Remover Grupo</button>
    </li>
    <br><br>
    <button (click)="changeToInputMode()">
        Adicionar Novo Grupo
    </button>
    <br>
    <button routerLink="/classrooms">
        Voltar para salas
    </button>

</ul>

<form *ngIf="inputMode" [formGroup]="formAddGroup" (ngSubmit)="addGroup(formAddGroup)">
    <input type="text" formControlName="groupTheme" placeholder="Tema do grupos" maxlength="50">
    <input type="text" formControlName="description" placeholder="Descrição do grupo" maxlength="300">
    <input type="hidden" formControlName="idClassroom" placeholder="Id da classe" [(ngModel)]="currentClassroom" disabled>
    <input type="hidden" formControlName="ra" placeholder="RA" maxlength="6" [(ngModel)]="currentUser" disabled>

    <button type="submit" [disabled]="!formAddGroup.valid">
        Adicionar Grupo
    </button>
</form>
<button *ngIf="inputMode" (click)="changeShowGroupsUrl(currentClassroom)">
    (seta apra esquerda) Voltar para sala
</button>


