.txt_slogan{
    text-align: center;
}

.add_grupo{
    background: #1E90FF			;
    border:0;
    border-radius:10px;
    width:60%;
    height:35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 18px;
}


.btn_grupo{
    background: #1E90FF			;
    border:0;
    border-radius:10px;
    width:60%;
    height:35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 18px;
}