<h1 class="txt_slogan" *ngIf="groups == null || groups.length == 0">
    Esta sala está vazia
</h1>
<ul class="grupos_lista" *ngIf="!inputMode && !editMode">
    
    <h1 style="text-align: center;">Grupos</h1>
    <li *ngFor="let group of groups">
       <div class="col-md-6" style="text-align:center;">
        <button class="btn_salas" routerLink="/groups">{{ group.groupTheme }} - {{ group.description }}</button> 
        <button class="remove_btn"  (click)="removeGroup(group)"><i class="fas fa-trash"></i></button>
        <button class="edit_btn" (click)="canEdit(group); updateEditForm(group)"> <i class="fas fa-pencil-ruler"></i></button>
    </div>
    </li>

    <br><br>

    <div class="col-md-12 plus_btn" style="padding-top: 50px; text-align: center;">
        <button type="button" class="add_grupo" (click)="changeToInputMode()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <br>
    <div class="btn_flutuante">
        <button class="btn_voltar" routerLink="/classrooms">
            <i class="fas fa-reply"></i>
        </button>
    </div>

</ul>

<form *ngIf="inputMode" [formGroup]="formAddGroup" (ngSubmit)="addGroup(formAddGroup)">

    <div class="card_add_gp">
        <h1 style="text-align: center; padding-bottom: 10%;">Adicione o grupo</h1>
        <input class="input_txt" type="text" formControlName="groupTheme" placeholder="Tema do grupos" maxlength="50">
        <textarea class="input_txt" type="text" formControlName="description" placeholder="Descrição do grupo"
            maxlength="300" cols="40" rows="40">
        </textarea>
        <input type="hidden" formControlName="idClassroom" placeholder="Id da classe" [(ngModel)]="currentClassroom"
            disabled>
        <input type="hidden" formControlName="ra" placeholder="RA" maxlength="6" [(ngModel)]="currentUser" disabled>

        <button class="btn_validar" type="submit" [disabled]="!formAddGroup.valid">
            Adicionar Grupo
        </button>
    </div>
</form>


<div *ngIf="editMode">
    <div class="card_add_gp">
        <h1 style="text-align: center; padding-bottom: 10%;">Edite o grupo</h1>
        <form [formGroup]="formEditGroup"  (ngSubmit)="editGroup(formEditGroup)">
        <input class="input_edit_txt" type="hidden" formControlName="idGroup" placeholder="idGroup">
        <input class="input_edit_txt" type="hidden" formControlName="idClassroom" placeholder="Id da classe" [(ngModel)]="currentClassroom">
        <input class="input_edit_txt" type="text" formControlName="groupTheme" placeholder="Tema do grupo">
        <textarea class="input_edit_txt" formControlName="description" placeholder="Descrição"></textarea>


        <button class="btn_validar_edit" type="submit"> Salvar</button>
    </form>
    </div>
    <div class="btn_flutuante">
    <button class="btn_voltar" (click)="editMode = false">
        <i class="fas fa-reply"></i>
    </button>
    </div>
</div>
<div class="btn_flutuante">
    <button class="btn_voltar" *ngIf="inputMode" (click)="changeShowGroupsUrl(currentClassroom)">
        <i class="fas fa-reply"></i>
    </button>
</div>

<!--Link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<!--font awesome--> 