body,
html{
    background-color: #f0f3bd		;
    margin:0;
    padding:0;
    height:100%;
}

.card_login{
    height:380px;
    width:350px ;
    margin-bottom:auto;
    margin-top: auto;
    background:#028090;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
}

.area_logo{
    position: absolute;
    height:170px;
    width:170px;
    border-radius:50%;
    background:#f0f3bd	;
    padding: 5px;
    text-align: center;
    top: -65px;
}

.logo_circular{
    height:160px;
    width:160px;
    border-radius:50%;
    border: 2px solid white ; /* expessura, tipo e cor*/

}

.form_login{
    margin-top: 100px;
}

.input_usuario{
    outline: 0px;
}

.input-group-text{
    background: #00a896; /*cor do fundo do ícone*/
    color: #05668d; /*cor do icone*/
    border: 0;
    border-radius:0.25rem 0 0 0.25rem;
}

.custom-checkbox .custom-control-input:checked~ .custom-control-label::before {
    background-color: #05668d;

}

.area_botao{
    padding: 0 2rem;
}

.btn_validacao{
    background: #00a896	;
    border:0;
    border-radius:5px;
    width:100%;
    height:35px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.btn_validacao:focus{
    box-shadow:none;
    outline:0px;
}

.link_senha{

    color: #05668d; /*cor do icone*/
    text-align: center;   

    }

.nav-link{
    
    font-size: 18px;
    color: black;
}

.fa-jedi{
    font-size: 25px;
}

.fa-user-circle{
    font-size: 25px;
}


.form_senha{
    margin-top: 20px;

}

.card_senha{
    height:350px;
    width:350px ;
    margin-bottom:auto;
    margin-top: 90px;
    background:#87CEEB;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
}

.titulo_criterios{
    margin:15px 0;
    text-transform:none;
}

.link_enter{
    color: black;
}

.btn_salas{
    text-align: left;
    
}

.titulo_pagina{
    text-align: center;
}

.salas_holder{
    border-color: #4169E1	;
    width: 1000px;
    height: 40px;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );   /*  margem esquerda, margem inferior, margem superior, margem direita */ 
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2 ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px;
    text-align: center;

}

.img-logo{
    width: 50px;
    height: 50px;
}
