<h1>{{ title }} </h1>
<div>
<form [formGroup]="formNumberClassrooms">

    <input min="0" type="text" pattern="\d*" formControlName="numberClassroom" [(ngModel)]="givenNumberOfClassrooms" placeholder="número de salas" maxlength="2">

  <!-- <button [disabled]="!formNumberClassrooms.valid" (click)="addClassroom(givenNumberOfClassrooms)">Adicionar</button>-->
    <br><br>
</form>

<ul>
    <li *ngFor="let classroom of classrooms">
        <button>{{ classroom }}</button> | <button *ngIf="classroom.id == classrooms.length" (click)="removeClassroom(classroom)">Remover</button>
    </li>
</ul>

